$fontFamily: 'Roboto';

/* жирный  */
$fontFamilyBold: 'Roboto-Bold';

/* основной */
$fontFamilyRegular: 'Roboto-Regular';

/* наклонный  */
$fontFamilyItalic: 'Roboto-Italic';

/* тонкий */
$fontFamilyLight: 'Roboto-Light';

/* между основным и жирным */
$fontFamilyMedium: 'Roboto-Medium';

/* тоньше тонкого */
$fontFamilyLighter: 'Roboto-Thin';

/* жирнее жирного */
$fontFamilyBolder: 'Roboto-Black';
